<p>
Hallo mates, {{ name }}
</p>

<div>
{% match data %}
  {% when serde_json::Value::Array with (list) %}
    {% let sorted_list = list|json_array_sort_by_key(sort) %}

    <table>
      {% for item in sorted_list %}
        {% match item %}
          {% when serde_json::Value::Object with (record) %}
            {% if loop.first %}
              <tr>
                {% for key in record.keys() %}
                  <th>{{key}}</th>
                {% endfor %}
              </tr>
            {% endif %}
            <tr>
            {% for item in record.values() %}
              <td>{{ item }}</td>
            {% endfor %}
            </tr>
          {% else %}
        {% endmatch %}
      {% endfor %}
      </table>
  {% else %}
{% endmatch %}
</div>
